# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Django
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/ # Typically collected by Heroku, no need to commit the output directory

# IDEs and editors
.idea/
.vscode/
*.swp
*~
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Heroku - if you ever download build artifacts or logs locally
.heroku/
